* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

button {
  padding: 15;
}

.wrap {
  display: flex;
  justify-content: center;
  gap: 15;
  margin-top: 250px;
}
#datetime-picker {
  padding: 12px;
  font-size: medium;
  font-weight: 700;
}

div > button {
  padding: 12px;
  font-size: medium;
  font-weight: 700;
  background-color: blanchedalmond;
}

.timer {
  display: flex;
  gap: 15px;
  margin-top: 30px;
}
.field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.label {
  font-size: large;
  font-weight: 600;
  color: rgb(23, 20, 20);
}

.value {
  font-size: large;
  font-weight: 800;
  color: black;
}
